.introduction {
  flex: 0 0 auto;
  height: 50%;
  overflow: hidden;
}

.introduction {
  display: block;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.introduction {
  border-bottom: 0.2rem solid #000;
  margin: 100px 50px 0 50px;
}
