.body {
    position: relative;
    overflow-x: clip;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    font-family: Sen, Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* color: #8491a0;
    background-color: #000; */
}